In [1]:
# Vectorized String Operations 
import numpy as np 
x = np.array([2,3,5,7,11,13])
x * 2

array([ 4,  6, 10, 14, 22, 26])

In [2]:
data = ["peter","Paul"]
[s.capitalize() for s in data]

['Peter', 'Paul']

In [3]:
# extra check:
data = ["peter",None,"paul"]
[s if s is None else s.capitalize() for s in data]

['Peter', None, 'Paul']

In [4]:
import pandas as pd 
names = pd.Series(data)
names.str.capitalize()

0    Peter
1     None
2     Paul
dtype: object

In [8]:
# Tables of Pandas String Methods
monte = pd.Series(["firs first","second second"])
monte.str.lower()

0       firs first
1    second second
dtype: object

In [6]:
monte.str.len()

0    4
1    6
dtype: int64

In [7]:
monte.str.startswith("f")

0     True
1    False
dtype: bool

In [9]:
monte.str.split()

0       [firs, first]
1    [second, second]
dtype: object

In [10]:
# Methods Using Regular Expressions 
monte.str.extract("([A-Za-z]+)",expand=False)

0      firs
1    second
dtype: object

In [11]:
# find all started with the consonants:
monte.str.findall(r"^[^AEIOU].*[^aeiou]$")

0       [firs first]
1    [second second]
dtype: object

In [12]:
# Vectorized item access and slicing
monte.str[0:3]

0    fir
1    sec
dtype: object

In [14]:
# access to array returned by the split:
monte.str.split().str[-2]

0      firs
1    second
dtype: object

In [17]:
# indicator variables 
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
'Eric Idle', 'Terry Jones', 'Michael Palin'])

full_monte = pd.DataFrame(
    {
        "name":monte,
        "info":["B|C|D", "B|D", "A|C", "B|D", "B|C", "B|C|D"]
    }
)
full_monte

             name   info
0  Graham Chapman  B|C|D
1     John Cleese    B|D
2   Terry Gilliam    A|C
3       Eric Idle    B|D
4     Terry Jones    B|C
5   Michael Palin  B|C|D

In [18]:
full_monte["info"].str.get_dummies("|")

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1